// menu drop down
mixin block-items-drop-down(values)
    .block
        img(src=values.img, class="block__img" alt="img")
        .content
            h3.block__title= values.title
            p.block__quality= `${values.quality} x` 
            p.block__price= `${values.price} Đ`
        .block__icon-close
            a(href="" class="block__icon-link")
                i(class="fas fa-times")

//- // list item in submenu 
//- mixin list-item(value)
//-     li.sub-menu__list-item.menu__list-item--hover
//-         i(class="fas fa-caret-right")
//-         a(href="" class="sub-menu__list-link menu__list-link")= value

//- // submenu
//- mixin list-link(values)
//-     ul.sub-menu.sub-menu--format.sub-menu--disable
//-         each value in values
//-             +list-item(value)

//- // submenu
//- mixin submenu(values)
//-     ul.sub-menu.sub-menu--disable
//-         each value, index in values
//-             if value
//-                 li.sub-menu__list-item.menu__list-item--hover
//-                     i(class="fas fa-caret-right")
//-                     a(href="" class="sub-menu__list-link menu__list-link")= index
//-                     +list-link(value)
//-             else
//-                 +list-item(index)

// list item in submenu 
mixin list-item(value)
    li.sub-menu__list-item(class!= attributes.class)
        i(class="fas fa-caret-right")
        a(href="" class="sub-menu__list-link menu__list-link")= value
// submenu
mixin list-link(values)
    ul.sub-menu.sub-menu--format.sub-menu--disable
        each value in values
            +list-item(value)(class!= attributes.class)
// submenu
mixin submenu(values)
    ul.sub-menu.sub-menu--disable
        each value, index in values
            if value
                li.sub-menu__list-item(class!= attributes.class)
                    i(class="fas fa-caret-right")
                    a(href="" class="sub-menu__list-link menu__list-link")= index
                    +list-link(value)(class!= attributes.class)
            else
                +list-item(index)(class!= attributes.class)

// icon before title (exm: sản phẩm bán chay...)
mixin icon-title(value)
    .wrapper-icon-title
        ul(class!=attributes.class).wrapper-icon-title__list
            li.wrapper-icon-title__item .
            li.wrapper-icon-title__item .
            li.wrapper-icon-title__item .
            li.wrapper-icon-title__item .
        a(href="" class!=attributes.class).wrapper-icon-title__link= value

mixin group-slider(values)
    .slider__block
        !=values.icon
        .slider__content
            p.slider__block-title= values.title
            p.slider__block-description= values.description

mixin product-item(values)
    .product-item(class!= attributes.class)
        a(href="")
            img(src= values.img, alt= values.title class="product-item__img")
        p.product-item__price= values.price
        h3
            a(href="" class="product-item__link-title")=  values.title
        .product-item__rate
            .product-item__point
                i(class="fas fa-star")
                i(class="fas fa-star")
                i(class="fas fa-star")
                i(class="fas fa-star")
                i(class="far fa-star")
            p.product-item__number-commands= `(${values.command} Đánh giá)`
        .product-item__group-btn.product-item__group-btn--disable
            a(href="" class="product-item__link-buy product-item__link-btn") Mua Ngay
            a(href="" class="product-item__link-detail product-item__link-btn") Xem Chi Tiết
        
        
        